*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

input,
button,
select,
textarea {
  font: inherit;
}

a {
  text-decoration: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #F8F0E6;
  color: #241E1F;
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.01%, #1A1A1A), color-stop(99.71%, rgba(1, 1, 1, 0))), url("../images/header-bg.jpg");
  background: -o-linear-gradient(left, #1A1A1A 0.01%, rgba(1, 1, 1, 0) 99.71%), url("../images/header-bg.jpg");
  background: linear-gradient(90deg, #1A1A1A 0.01%, rgba(1, 1, 1, 0) 99.71%), url("../images/header-bg.jpg");
  height: 626px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.header-top {
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  background-color: rgba(1, 1, 1, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.header-top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px 0;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-top__logo {
  max-width: 230px;
}
.header-top__logo img {
  display: block;
  width: 100%;
}
.header-top__mail {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  line-height: 140%;
}
.header-top__phone-link {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 13px 40px;
  border-radius: 12px;
  border: 1px solid #D1914F;
  -webkit-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}
.header-top__phone-link:hover {
  background-color: #D1914F;
}

.header-content {
  padding: 120px 0 0;
}
.header-content__title {
  color: #FCE4C1;
  font-family: "Ubuntu", sans-serif;
  font-size: 73px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -2px;
}
.header-content__image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 15px;
  padding-left: 50px;
  position: relative;
  -webkit-transform: translateY(25px);
      -ms-transform: translateY(25px);
          transform: translateY(25px);
}
.header-content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-content__form {
  background: rgba(14, 13, 13, 0.8);
  border-radius: 30px;
  padding: 20px 40px 30px;
  height: 350px;
  text-align: center;
  max-width: 528px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header-content__form-title {
  font-size: 18px;
  color: #FFC46E;
  margin-bottom: 12px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 140%;
}
.header-content__form-title span {
  font-weight: 800;
}
.header-content__img {
  display: inline-block;
}
.header-content__form-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-content__input-box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 371px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.header-content__input-box input {
  width: 100%;
  background-color: #4A4A4A;
  border-radius: 20px;
  padding: 8px 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 100%;
  border: none;
  outline: none;
}
.header-content__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.header-content__social img {
  display: block;
}
.header-content__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  -webkit-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
          transform: translateY(-60%);
}
.header-content__label span {
  color: #656565;
  font-size: 13px;
}
.header-content__input {
  display: none;
}
.header-content__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  background-color: #4A4A4A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-content__checkbox svg {
  display: none;
}
.header-content__input:checked + .header-content__checkbox svg {
  display: block;
}
.header-content__form-btn {
  width: 197px;
  height: 46px;
  background-color: #FCE4C1;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  margin: 5px auto 0;
  font-size: 18px;
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  color: black;
}
.header-content__form-btn:hover {
  background-color: #FFC46F;
}
.header-content__info {
  padding: 20px 25px;
  border-radius: 10px;
  background: rgba(14, 13, 13, 0.8);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  position: relative;
  -webkit-transform: translateY(-106px);
      -ms-transform: translateY(-106px);
          transform: translateY(-106px);
  max-width: 670px;
}
.header-content__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 25px;
}
.header-content__text span {
  font-weight: 700;
}
.header-content__social-label input {
  display: none;
}
.header-content__label--decor {
  width: 41px;
  height: 41px;
  background-color: #4A4A4A;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.header-content .social-label1 img {
  width: 32px;
  height: 28px;
  margin-left: 4px;
}
.header-content .social-label2 img {
  margin-left: 5px;
}
.header-content .social-label3 img {
  margin-left: 4px;
}
.social-label__input:checked + .header-content__label--decor {
  background-color: #888;
}

.equipment {
  padding: 90px 0;
}
.equipment__inner {
  background: rgba(255, 255, 255, 0.6);
  padding: 30px 50px;
  border-radius: 20px;
}
.equipment__title {
  text-align: center;
  line-height: 140%;
  color: #0E0D0D;
  font-weight: 700;
  font-size: 26px;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 4px solid #fff;
  margin-bottom: 25px;
}
.equipment__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.equipment__item {
  max-width: 178px;
  text-align: center;
}
.equipment__item-img {
  max-width: 160px;
  height: 160px;
  margin-bottom: 15px;
}
.equipment__item-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.equipment__text {
  margin-top: 15px;
  font-size: 20px;
  line-height: 140%;
}

.catalog {
  padding-bottom: 100px;
}
.catalog__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.catalog__text-box {
  max-width: 390px;
  margin-top: 270px;
}
.catalog__title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: #241E1F;
  letter-spacing: -1.5px;
  line-height: 100%;
  margin-bottom: 50px;
}
.catalog__text {
  line-height: 140%;
  color: #241E1F;
}
.catalog .catalog__text1 {
  padding-bottom: 20px;
}
.catalog__item {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 30px;
  max-width: 390px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.catalog__item:hover .catalog__btn-box {
  opacity: 1;
}
.catalog__item:hover .catalog__item-btn {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}
.catalog__img-box {
  max-width: 390px;
  padding-bottom: 40px;
  border-bottom: 1px solid #D1914F;
  margin-bottom: 40px;
}
.catalog__img-box img {
  width: 100%;
}
.catalog__item-title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.84px;
  color: #241E1F;
  margin-bottom: 20px;
}
.catalog__item-params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.catalog .item-params__left {
  line-height: 19px;
}
.catalog .item-params__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
  font-size: 14px;
}
.catalog .item-params__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
}
.catalog .item-params__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.catalog .item-price {
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 100%; /* 39.2px */
}
.catalog .item-params__sub-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog .item-price1 {
  font-weight: 700;
  line-height: 140%;
}
.catalog__btn-box {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 30px;
  background: rgba(36, 30, 31, 0.6);
  -webkit-box-shadow: 0px 0px 20px 0px #D1914F;
          box-shadow: 0px 0px 20px 0px #D1914F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  cursor: pointer;
}
.catalog__item-btn {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: normal;
  padding: 12px 60px;
  cursor: pointer;
  border-radius: 20px;
  background-color: transparent;
  border: none;
  color: #0E0D0D;
  height: 50px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(350px);
      -ms-transform: translateY(350px);
          transform: translateY(350px);
  background: #FCE4C1;
}
.catalog__item-btn:hover {
  background-color: #FFC46F;
}

.item-form {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: #363232;
  padding: 75px 20px 45px;
  display: none;
}
.item-form .form-closer {
  width: 34px;
  height: 34px;
  background-color: #4A4A4A;
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}
.item-form .form-closer svg {
  display: block;
}
.item-form__title {
  color: #FCE4C1;
  font-size: 32px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 400;
}
.item-form__input {
  display: block;
  border-radius: 20px;
  background-color: #4A4A4A;
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
  padding: 17px 30px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  width: 100%;
}
.item-form__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  padding: 15px 50px 0;
  margin-bottom: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.item-form__label input {
  display: none;
}
.item-form__checkbox {
  width: 32px;
  min-width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4A4A4A;
  border-radius: 6px;
}
.item-form__checkbox svg {
  display: none;
}
.item-form__text {
  font-size: 18px;
  line-height: 18px;
  color: #807F7F;
}
.checkbox:checked + .item-form__checkbox svg {
  display: block;
}
.item-form__btn {
  width: 306px;
  height: 74px;
  border-radius: 40px;
  background-color: #FCE4C1;
  display: block;
  margin: 45px auto 0;
  color: #0E0D0D;
  font-size: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.item-form__btn:hover {
  background-color: #FFC46F;
}
.item-form__label--decor {
  width: 69px;
  height: 69px;
  background-color: #4A4A4A;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.item-form .social-label1 img {
  width: 32px;
  height: 28px;
  margin-left: 4px;
}
.item-form .social-label2 img {
  margin-left: 5px;
}
.item-form .social-label3 img {
  margin-left: 4px;
}
.social-label__input:checked + .item-form__label--decor {
  background-color: #888;
}

.promo {
  margin-bottom: 70px;
}
.promo__inner {
  border-radius: 20px;
  background-image: url("../images/promo-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  padding: 50px 120px 20px;
}
.promo__title {
  color: #fff;
  font-size: 42px;
  font-weight: 600;
  border-radius: 20px;
  background: rgba(16, 15, 15, 0.5);
  padding: 12px 17px;
  max-width: 788px;
  margin-bottom: 30px;
}
.promo__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 31px;
}
.promo input {
  max-width: 634px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px 25px;
  font-size: 23px;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 40px;
  background: rgb(252, 228, 193);
  border: none;
  outline: none;
}
.promo__btn {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 306px;
  background-color: #FCE4C1;
  border-radius: 40px;
  font-size: 27px;
  color: #0E0D0D;
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.promo__btn:hover {
  background-color: #FFC46F;
}

.benefits {
  margin-bottom: 70px;
}
.benefits__inner {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 35px 50px 68px;
}
.benefits__title {
  text-align: center;
  border-bottom: 4px solid #fff;
  margin-bottom: 35px;
  color: #0E0D0D;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 15px;
  text-transform: uppercase;
  opacity: 0.7;
}
.benefits__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 65px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.benefits__item {
  max-width: 160px;
  text-align: center;
}
.benefits__item-img {
  max-width: 160px;
  height: 160px;
  margin-bottom: 15px;
}
.benefits__item-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.benefits__item-text {
  color: #0E0D0D;
  opacity: 0.7;
  font-size: 22px;
}

.footer {
  margin-bottom: 50px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.footer-top__logo {
  max-width: 275px;
  margin-right: auto;
}
.footer-top__logo img {
  display: block;
  width: 100%;
}
.footer-top__mail-link {
  font-size: 18px;
  font-weight: 600;
  color: #241E1F;
  margin-right: 50px;
  margin-top: 15px;
  display: inline-block;
}
.footer-top__phone-link {
  padding: 13px 40px;
  border-radius: 12px;
  border: 1px solid #241E1F;
  color: #241E1F;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
}

.footer-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-bot__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.footer-bot__copyright {
  font-size: 12px;
  color: #828282;
}
.footer-bot__politic {
  color: #241E1F;
}

@media (max-width: 1250px) {
  .catalog__inner {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .catalog__text-box {
    margin: 300px auto 0;
    max-width: 325px;
  }
  .catalog__item {
    margin: 0 auto;
  }
  .header {
    height: 750px;
  }
  .header-content__info {
    position: static;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    margin-bottom: 30px;
  }
  .header-content__text {
    font-size: 21px;
  }
  .header-content__title {
    margin-bottom: 35px;
  }
  .header-content__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-content__box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header-content__image-box {
    padding-left: 0;
  }
  .equipment__items {
    gap: 20px;
  }
  .equipment__item {
    max-width: 120px;
  }
  .equipment__item-img {
    max-width: 120px;
    height: 120px;
  }
  .equipment__text {
    line-height: 120%;
    font-size: 16px;
  }
  .promo__title {
    font-size: 39px;
  }
  .promo__inner {
    padding: 50px 60px 40px;
  }
}
@media (max-width: 991px) {
  .header {
    height: 700px;
  }
  .header-content__title {
    font-size: 50px;
    margin-bottom: 25px;
  }
  .header-content__image-box {
    display: none;
  }
  .equipment {
    padding: 60px 0;
  }
  .equipment__title {
    padding-bottom: 5px;
    font-size: 23px;
  }
  .equipment__item {
    max-width: 100px;
  }
  .equipment__item-img {
    max-width: 100px;
    height: 100px;
  }
  .promo__inner {
    padding: 50px 40px 40px;
  }
  .promo__btn {
    font-size: 20px;
    max-width: 270px;
  }
  .promo input {
    font-size: 21px;
    padding: 13px 25px;
  }
  .promo__title {
    font-size: 30px;
  }
  .benefits__title {
    padding-bottom: 5px;
    font-size: 23px;
  }
  .benefits__item {
    max-width: 100px;
  }
  .benefits__item-img {
    max-width: 100px;
    height: 100px;
  }
  .benefits__item-text {
    font-size: 16px;
  }
  .benefits .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  .benefits .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 9px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .benefits .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #F8F0E6;
  }
  .benefits .slick-active button {
    background-color: #FCE4C1;
  }
  .footer-top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-top__mail-link {
    margin-top: 0;
  }
}
@media (max-width: 900px) {
  .catalog__item {
    padding: 20px;
  }
  .catalog__item-title {
    font-size: 24px;
    margin-bottom: auto;
  }
  .catalog__img-box {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .catalog__text-box {
    margin: 200px auto 0;
  }
  .catalog__inner {
    gap: 20px;
  }
  .catalog__item-params {
    margin-top: 10px;
  }
  .catalog .item-params__row {
    font-size: 12px;
  }
  .catalog .item-price {
    font-size: 24px;
  }
  .equipment .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 9px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .equipment .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #F8F0E6;
  }
  .equipment .slick-active button {
    background-color: #FCE4C1;
  }
  .equipment__inner {
    padding-bottom: 50px;
  }
  .equipment__items {
    max-width: 731px;
  }
  .equipment__items .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  .benefits__inner {
    padding: 30px 30px 50px;
  }
  .footer-top__logo {
    max-width: 225px;
  }
  .footer-top__mail-link {
    font-size: 16px;
    margin-right: 40px;
  }
  .footer-top__phone-link {
    padding: 10px 32px;
    height: 42px;
  }
  .item-form {
    padding: 45px 20px 45px;
    max-width: 390px;
  }
}
@media (max-width: 800px) {
  .item-form__input {
    font-size: 22px;
    padding: 15px 20px;
  }
  .item-form__social {
    margin-bottom: 20px;
  }
  .item-form__btn {
    width: 280px;
    height: 60px;
    font-size: 23px;
  }
  .item-form__checkbox {
    width: 27px;
    min-width: 27px;
    height: 27px;
  }
  .item-form__text {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 720px) {
  .catalog {
    padding-top: 0px;
    padding-bottom: 50px;
  }
  .catalog__inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .header-top__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 40px 40px;
    grid-template-rows: 40px 40px;
  }
  .header-top__logo {
    grid-row-start: span 2;
    max-width: 200px;
  }
  .header-top__mail {
    margin-left: auto;
  }
  .header-top__phone-link {
    max-width: 219px;
    margin-left: auto;
    padding: 8px 24px;
    font-size: 15px;
  }
  .header-content__title {
    font-size: 37px;
  }
  .header-content__info {
    max-width: 525px;
    padding: 15px 20px;
  }
  .header-content__text {
    font-size: 18px;
  }
  .header {
    height: 700px;
  }
  .equipment__inner {
    padding: 30px 30px 50px;
  }
  .equipment__title {
    font-size: 19px;
  }
  .equipment__text {
    font-size: 15px;
  }
  .promo__inner {
    padding-left: 20px;
    padding-right: 20px;
  }
  .promo input {
    font-size: 16px;
    padding: 11px 20px;
  }
  .promo__btn {
    font-size: 16px;
  }
  .promo__title {
    font-size: 25px;
  }
  .benefits {
    margin-bottom: 40px;
  }
  .benefits .slick-track {
    gap: 10px;
  }
  .benefits__title {
    font-size: 19px;
  }
  .benefits__item-text {
    font-size: 15px;
  }
  .footer-top__logo {
    max-width: 180px;
  }
  .footer-top__mail-link {
    font-size: 15px;
    margin-right: 30px;
  }
  .footer-top__phone-link {
    font-size: 15px;
    padding: 8px 27px;
    height: 38px;
  }
}
@media (max-width: 620px) {
  .footer-top__logo {
    max-width: 140px;
  }
  .footer-top__mail-link {
    font-size: 14px;
    margin-right: 20px;
  }
  .footer-top__phone-link {
    font-size: 14px;
    padding: 8px 20px;
  }
}
@media (max-width: 550px) {
  .header-content__text {
    line-height: 20px;
    font-size: 16px;
  }
  .header-content__title {
    letter-spacing: -1px;
    font-size: 30px;
  }
  .header-content__img {
    display: none;
  }
  .header-content__form-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  .header-content__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header-content__input-box {
    max-width: 400px;
    width: 100%;
  }
  .header-content__input-box input {
    width: 100%;
  }
  .header-content__form-title {
    font-size: 16px;
  }
  .header-content__label {
    -webkit-transform: translateY(-75px);
        -ms-transform: translateY(-75px);
            transform: translateY(-75px);
  }
  .promo__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .promo__inner {
    padding: 20px 20px 30px;
  }
  .promo__btn {
    height: 44px;
    font-weight: 500;
  }
  .promo__title {
    font-size: 22px;
  }
  .footer-bot {
    gap: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-bot__social {
    gap: 25px;
  }
  .footer-top {
    gap: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 450px) {
  .header {
    height: 640px;
  }
  .header-content__title {
    font-size: 23px;
    margin-bottom: 15px;
  }
  .header-content__info {
    padding: 10px 15px;
  }
  .header-content__text {
    font-size: 14px;
  }
  .header-content__label span {
    font-size: 12px;
  }
  .header-content__form {
    padding: 20px 20px 30px;
  }
  .header-top__inner {
    -ms-grid-rows: 30px 30px;
    grid-template-rows: 30px 30px;
  }
  .header-top__logo {
    max-width: 170px;
  }
  .header-top__mail {
    font-size: 15px;
  }
  .header-top__phone-link {
    font-size: 14px;
    padding: 7px 15px;
  }
  .equipment {
    padding: 40px 0;
  }
  .equipment .slick-track {
    gap: 15px;
  }
  .equipment__inner {
    padding: 20px 15px 50px;
  }
  .equipment__title {
    font-size: 15px;
  }
  .equipment__item {
    max-width: 80px;
  }
  .equipment__item-img {
    max-width: 80px;
    height: 80px;
  }
  .equipment__text {
    font-size: 13px;
  }
  .benefits__inner {
    padding: 20px 15px 50px;
  }
  .benefits__title {
    font-size: 15px;
  }
  .benefits__item {
    max-width: 80px;
  }
  .benefits__item-img {
    max-width: 80px;
    height: 80px;
    margin-bottom: 0;
  }
  .benefits__item-text {
    font-size: 13px;
    line-height: 110%;
  }
}
@media (max-width: 400px) {
  .header-top__inner {
    gap: 5px;
  }
  .header-top__phone-link {
    font-size: 13px;
    padding: 5px 15px;
  }
  .header-content__form-title {
    font-size: 15px;
  }
  .header-content__label span {
    font-size: 11px;
  }
  .header-content__form-btn {
    font-size: 15px;
    width: 180px;
    height: 40px;
  }
  .promo__title {
    font-size: 18px;
  }
  .footer-bot__politic {
    font-size: 12px;
  }
  .footer-bot__copyright {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .item-form__title {
    font-size: 30px;
    line-height: 120%;
  }
  .item-form__input {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .item-form__checkbox {
    width: 24px;
    min-width: 24px;
    height: 24px;
  }
  .item-form__checkbox svg {
    width: 20px;
    height: 20px;
  }
  .item-form__text {
    font-size: 13px;
    line-height: 14px;
  }
  .item-form__btn {
    width: 260px;
    height: 50px;
    font-size: 21px;
  }
}
@media (max-width: 370px) {
  .header-content__form-btn {
    position: relative;
    -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  .header-content__label span {
    font-size: 10px;
  }
}